/* RESET AND STRUCTURE */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* NAVBAR STYLE */
.navbar{
    height:5rem;
}

.fa-compass{
    color:red;
    font-size:2rem;
}

.nav-link{
    color:black !important;
}

/* FOOTER STYLE */
footer {
    margin-top: auto;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.listing-card{
    border:none !important;
    margin-bottom:2rem;
}
.card-img-top{
border-radius:1rem !important;
width:100% !important;
object-fit:cover;
}
.card-body{
    padding:0px;
}

.card-text p{
font-weight:400;
}
.listing-link{
    text-decoration:none;
}
.card-img-overlay{
opacity :0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:white;
}
.add-btn{
    background-color:red;
    border:none;
}
.edit-btn{
     background-color:red;
    border:none;
}
.show-img{
    height:30vh;
}
.btns{
    display:flex;
}
.show-card{
    padding-left:0;
    padding-right:0;
}